<template>
  <v-card class="flex-grow-1">
    <v-card-title>.moin</v-card-title>
    <v-card-text>
      <p>
        Moin! I am Senad Ličina, a Senior Software-Engineer that specializes in web development.
        I do both front-end and back-end and have work experience in various tools, programming languages and web frameworks.
      </p>
      <p>
        I am a creative hippy who excels at prototyping projects and developing MVPs.
      </p>
    </v-card-text>

    <v-divider/>

    <v-card-title>.skills</v-card-title>
    <v-card-text class="d-flex flex-wrap justify-space-between">
      <v-card class="mb-2" v-for="skill in skills" :key="skill.name" outlined>
        <v-card-text class="text-center">
          <span v-text="skill.name"/>
          <v-rating v-model="skill.rating" x-small readonly/>
        </v-card-text>
      </v-card>
    </v-card-text>

    <v-divider/>

    <v-card-title>.portfolio</v-card-title>
    <v-card-text>
      <v-timeline>
        <v-timeline-item v-for="item in portfolio" v-bind:key="item.title">
          <template v-slot:opposite>
            <span v-text="item.year"/>
          </template>
          <div class="py-4">
            <h3 v-text="item.title"/>
            <blockquote v-html="item.text"/>
          </div>
        </v-timeline-item>
      </v-timeline>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'Portfolio',
  data: () => ({
    portfolio: [
      {
        year: '2018-2020',
        title: 'AWO Landesverband Hamburg GmbH',
        text: 'Implementation of a progressive web app with TypeScript, VueJS & KoaJS.'
      },
      {
        year: '2013-2020',
        title: 'StarFinanz GmbH',
        text: 'Various big and small projects in various programming languages and frameworks.'
      },
      {
        year: 2012,
        title: 'Digital Pioneers N.V.',
        text: 'Implementation of multiple minimal value products in PHP.'
      },
      {
        year: '2010-2012',
        title: 'Renewable Energy Technology Center GmbH',
        text: 'Implementation of a web application with Django (Python).'
      },
      {
        year: '2010-2011',
        title: 'University Hamburg',
        text: 'Assistance in programming module exercises in Java.'
      }
    ],
    skills: [
      {
        name: 'JavaScript',
        rating: 5
      },
      {
        name: 'Python',
        rating: 5
      },
      {
        name: 'Java',
        rating: 5
      },
      {
        name: 'PHP',
        rating: 4
      },
      {
        name: 'Go',
        rating: 3
      },
      {
        name: 'VueJS',
        rating: 5
      },
      {
        name: 'Spring Boot',
        rating: 4
      },
      {
        name: 'Django',
        rating: 4
      },
      {
        name: 'Laravel',
        rating: 3
      },
      {
        name: 'NodeJS',
        rating: 5
      },
      {
        name: 'Linux',
        rating: 5
      },
      {
        name: 'Docker',
        rating: 4
      },
      {
        name: 'CI/CD',
        rating: 4
      },
      {
        name: 'Web Security',
        rating: 4
      },
      {
        name: 'Vector Graphics',
        rating: 5
      },
      {
        name: 'AI',
        rating: 3
      }
    ]
  })
}
</script>
