<template>
  <v-card id="business-card" class="flex-grow-0">
    <v-card-text class="d-flex flex-row align-center justify-center">
      <v-avatar :size="windowSize.x >= 768 ? 200 : 100">
        <img src="../assets/img/senci.jpg" alt="Senči">
      </v-avatar>
      <div class="pl-6 pr-10">
        <h1 class="pb-6">Senči</h1>
        <div class="pb-6 d-flex flex-column">
          <div class="d-flex flex-row">
            <div class="icon-container d-flex justify-center">
              <v-icon small>fa-laptop-code</v-icon>
            </div>
            <div>Code Magician</div>
          </div>
          <div class="d-flex flex-row">
            <div class="icon-container d-flex justify-center">
              <v-icon small>fa-headphones</v-icon>
            </div>
            <div>Raver</div>
          </div>
          <div class="d-flex flex-row">
            <div class="icon-container d-flex justify-center">
              <v-icon small>fa-glasses</v-icon>
            </div>
            <div>Nerd</div>
          </div>
        </div>
        <div>
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn href="mailto:senad@licina.eu" target="_blank" icon small alt="bla">
                <v-icon color="secondary" small v-bind="attrs" v-on="on">fa-envelope</v-icon>
              </v-btn>
            </template>
            <span>E-Mail</span>
          </v-tooltip>
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn href="https://www.twitter.com/s3nci" target="_blank" icon small alt="bla">
                <v-icon color="secondary" small v-bind="attrs" v-on="on">fab fa-twitter</v-icon>
              </v-btn>
            </template>
            <span>Twitter</span>
          </v-tooltip>
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn href="https://github.com/senci" target="_blank" icon small alt="bla">
                <v-icon color="secondary" small v-bind="attrs" v-on="on">fab fa-github</v-icon>
              </v-btn>
            </template>
            <span>GitHub</span>
          </v-tooltip>
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn href="https://gitlab.com/s3nci" target="_blank" icon small alt="bla">
                <v-icon color="secondary" small v-bind="attrs" v-on="on">fab fa-gitlab</v-icon>
              </v-btn>
            </template>
            <span>GitLab</span>
          </v-tooltip>
<!--          <v-tooltip bottom>-->
<!--            <template v-slot:activator="{ on, attrs }">-->
<!--              <v-btn href="https://www.instagram.com/s3nci" target="_blank" icon small alt="bla">-->
<!--                <v-icon color="secondary" small v-bind="attrs" v-on="on">fab fa-instagram</v-icon>-->
<!--              </v-btn>-->
<!--            </template>-->
<!--            <span>Instagram</span>-->
<!--          </v-tooltip>-->
<!--          <v-tooltip bottom>-->
<!--            <template v-slot:activator="{ on, attrs }">-->
<!--              <v-btn href="https://www.mixcloud.com/s3nci" target="_blank" icon small alt="bla">-->
<!--                <v-icon color="secondary" small v-bind="attrs" v-on="on">fab fa-mixcloud</v-icon>-->
<!--              </v-btn>-->
<!--            </template>-->
<!--            <span>Mixcloud</span>-->
<!--          </v-tooltip>-->
        </div>
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'BusinessCard',
  props: {
    windowSize: {}
  }
}
</script>

<style lang="scss" scoped>
.icon-container {
  width: 24px;
}
</style>
