<template>
  <v-footer padless>
    <v-card flat tile width="100%" class="primary text-center">
      <v-card-text class="secondary darken-1 white--text d-flex justify-space-between">
        <strong>Senad Ličina</strong>
        <span><v-icon small>fab fa-creative-commons</v-icon> {{ new Date().getFullYear() }}</span>
      </v-card-text>
    </v-card>
  </v-footer>
</template>
<script>
export default {
  name: 'SenciFooter'
}
</script>
