<template>
  <v-app v-resize="onResize">
    <v-parallax height="500" src="./assets/img/bg.jpg" class="d-flex align-center justify-center">
      <BusinessCard :window-size="windowSize"/>
    </v-parallax>
    <v-main>
      <v-container class="fill-height align-start">
        <router-view></router-view>
      </v-container>
      <SenciFooter/>
    </v-main>
  </v-app>
</template>

<script>
import BusinessCard from './components/BusinessCard'
import SenciFooter from './components/SenciFooter'

export default {
  name: 'App',

  components: {
    SenciFooter,
    BusinessCard
  },

  data: () => ({
    windowSize: { x: window.innerWidth, y: window.innerHeight }
  }),

  methods: {
    onResize () {
      this.windowSize = { x: window.innerWidth, y: window.innerHeight }
    }
  }
}
</script>

<style lang="scss">
#business-card .v-card__text {
  h1 {
    font-family: Poiret One, Roboto, sans-serif;
    font-size: 2.3rem;
    font-weight: 400;
  }

}

.container {
  max-width: 800px !important;
}
</style>
